body{
	background-image:url("../images/background-decorations.jpg");
	background-color:rgba(255, 175, 117, 0.3);
	background-repeat: repeat-y;
	background-blend-mode: darken;
	background-size:150%;
	font-family:"Helvetica", sans-serif;
}
header{
	background-color: rgba(14, 30, 56, 0.95);
	text-align:center;
	color:#ffffff;
	margin:2% 1%;
}
h1{
	font-size:3vw;
	padding:20px 0;
}
.artist-name{
	padding-bottom:10px;
	font-size:1.2vw;
}
ul{
	display:block;
	column-count:2;	
	list-style-type: none;
	padding:1% 1% 0 1%;
	margin:0 1%;
}
li{
	margin-bottom:3%;
	padding:1% 0;
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside: avoid;
	background-color:rgba(5, 24, 51, 0.8)	
}
li:nth-child(even){
	background-color: rgba(38, 90, 171, 0.8);
}
figcaption{
	text-align: center;
	font-weight: bold;
	font-size:1.4vw;
	line-height:200%;
	color:#ffffff;
}
img{
	display:block;
	max-height:700px;
	margin:auto;
}
.landscape{
	width:100%;
	max-height:350px;
}
.portrait{
	width:90%;
}
