body{
	background-image:url("../images/background-decorations.png");
	background-color:rgba(255, 175, 117, 0.3);
	background-repeat: repeat-y;
	background-blend-mode: darken;
	background-size:150%;
	font-family:"Helvetica", sans-serif;
	margin:0;
}
header, footer{
	background-color: rgba(14, 30, 56, 0.95);
	color:#ffffff;
	width:100%;
	box-sizing: border-box;
	padding: 1% 4%;
}
header{
	position:relative;
	top:-28px;
	text-align:center;
}
footer{
	position:relative;
	bottom:-28px;
}
footer p{
	display:inline-block;
	font-size:1.1vw;
	width:49%;
}
footer p:nth-child(even){
	text-align: right;
}
h1{
	font-size:3vw;
	padding-top:4%;
}
.artist-name{
	padding-bottom:10px;
	font-size:1.2vw;
}
ul{
	display:inline-block;
	column-count:2;	
	list-style-type: none;
	padding:2% 2% 0 2%;
	margin:-1% 1%;
	margin-top:-3%;
}
li{
	margin-bottom:3%;
	padding:1% 0;
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside: avoid;
	background-color:rgba(5, 24, 51, 0.8);
	transition: all 0.8s;
}
li:nth-child(even){
	background-color: rgba(38, 90, 171, 0.8);
}
li:last-child{
	margin-bottom:0;
}
li:hover{
	background-color:rgba(1, 10, 23, 1);
}
figcaption{
	text-align: center;
	font-weight: bold;
	font-size:1.6vw;
	line-height:200%;
	color:#ffffff;
}
img{
	display:block;
	max-height:700px;
	margin:auto;
	height:auto;
}
.landscape{
	width:100%;
}
.portrait{
	width:70%;
}
