body, main{
	padding:0;
	margin:0;
	font-family:"Helvetica", sans-serif;
}
.page-wrap{
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	align-items:flex-start;
	background-color: rgba(14, 30, 56, 0.95);
}
nav{
	position:-webkit-sticky;
	position:sticky;
	top:0;
	box-sizing: border-box;
	display:inline-block;
	color:#ffffff;
	width:15%;
	margin:0;
	border-bottom: solid;
	border-top:solid;
	border-width: 1px;
	border-color: #c79c00;
	transition-duration: 0.4s;
}
nav a{
	display:block;
	color:#ffffff;
	text-decoration: none;
	padding-left:10%;
	line-height: 300%;
	transition: all 0.5s;
	border-bottom:solid;
	border-width: 1px;
	border-color: #c79c00;
	font-size:1.6vw;
}
nav a:hover{
	background-color:#000000;
}
nav a.active{
	background-color:#040e1f;
}
nav + section{
	display:inline-block;
	width:85%;
	background-image:url("../images/background-decorations.png");
	background-color:rgba(255, 175, 117, 0.3);
	background-repeat: repeat-y;
	background-blend-mode: darken;
	background-size:150%;
	margin:0;
	transition-duration: 0.4s;
	min-height:100vh;
}
header, footer{
	background-color: #040e1f;
	color:#ffffff;
	width:100%;
	padding: 1% 4%;
	box-sizing: border-box;
	position:relative;
}
header{
	text-align:center;
}
i{
	margin-right:1vw;
}
.nav-menu-icon{
	display:inline-block;
	position:absolute;
	top:35%;
	left:3%;
	font-size:4vw;
}
section p{
	box-sizing: border-box;
	min-height:100vh;
	background-color:rgba(0, 0, 0, 0.8);
	padding:4% 2%;
	margin:1% 1%;
	color:#ffffff;
	line-height: 2;
}
footer p{
	display:inline-block;
	font-size:1.1vw;
	width:49%;
}
footer p:nth-child(even){
	text-align: right;
}
h1{
	font-size:3vw;
}
.artist-name{
	padding-bottom:10px;
	font-size:1.2vw;
}
ul{
	display:inline-block;
	column-count:2;	
	list-style-type: none;
	padding:4% 2% 0 2%;
	margin:1% 1%;
	margin-top:-3%;
	
}
li{
	margin-bottom:3%;
	padding:1% 0;
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside: avoid;
	background-color:rgba(5, 24, 51, 0.8);
	transition: all 0.8s;
}
li:nth-child(even){
	background-color: rgba(38, 90, 171, 0.8);
}
li:last-child{
	margin-bottom:0;
}
li:hover{
	background-color:rgba(1, 10, 23, 1);
}
figcaption{
	text-align: center;
	font-weight: bold;
	font-size:1.6vw;
	line-height:200%;
	color:#ffffff;
}
img{
	display:block;
	max-height:700px;
	margin:auto;
	height:auto;
}
.landscape{
	width:100%;
}
.portrait{
	width:70%;
}
