section{

}
table{
	width:92%;
	font-family: "Optima", sans-serif;
	box-sizing: border-box;
	background-color:rgba(0, 0, 0, 0.5);
	margin: 2% 4%;
	border-collapse: collapse;
	font-size: 0.8vw;
}
tr{
	border: 0.5px solid #000000;
}
td, th{
	margin:0;
	padding: 0.5%;
	padding-right:0;
	border: 0.5px solid #000000;
}
th{
	background-color: #0F232C;
	color:#98AFB9;
}
td{
	background-color: #A8C3CE;
}
th.seed-col{
	width:10vw;
}
th.qty-col{
	width:3vw;
}