/*CSS Comment*/
header{
	background-color: #0e1e38;
}
h1{
	font-family:"Helvetica", sans-serif;
	text-align:center;
	color:#ffffff;
	line-height: 200%;
}
ul{
	list-style-type: none;
	margin-left:auto;
	margin-right:auto;	
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	background-color:#ace8d4;
}
li{
	width:40%;
	padding-top:1em;
	padding-left:4%;
	padding-right:4%;
}
figcaption{
	font-family:"Verdana", sans-serif;
	text-align: center;
	font-style:italic;
	line-height:200%;
	vertical-align: bottom;
}
img{
	display:block;
	max-height:30em;
	max-width:100%;
}
.landscape{
	width:100%;
}
.portrait{
	margin-left:auto;
	margin-right:auto;
}
.artist-name{
	text-align:center;
	color:#ffffff;
	font-family:"Helvetica", sans-serif;
	padding-bottom:1em;
}