body, main{
	padding:0;
	margin:0;
	font-family:"Optima", sans-serif;
}
.page-wrap {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: flex-start;
	background-color: #0e1e38;
}
nav {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	box-sizing: border-box;
	display: inline-block;
	color: #ffffff;
	width: 15vw;
	margin: 0;
	padding:0;
	border-top: solid;
	border-width: 1px;
	border-color: #c79c00;
	z-index:1;
}
nav a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding-left: 10%;
	line-height: 300%;
	transition: background-color 0.5s;
	border-bottom: solid;
	border-width: 1px;
	border-color: #c79c00;
	font-size: 1vw;
	background-color: #0e1e38;
}
nav a:hover{
	background-color:#000000;
}
nav a.active{
	background-color:#040e1f;
}
nav > div {
	position:relative;	
	padding:0;
	z-index:1;
}
nav a + ul {
	display: none;
	position: absolute;
	left: 13vw;
	top: 0;
	width:100%;
	max-width:25vw;
	margin: 0;
	list-style: none;
	padding: 0;
	z-index: 2;
}
nav div:hover > ul{
	display:block;
}
a > i {
	margin-right: 1vw;
}
nav + section{
	display:inline-block;
	width:100%;
	background-image:url("../images/pond.png");
	background-color:rgba(0, 0, 0, 0.6);
	background-repeat: repeat-y;
	background-blend-mode: darken;
	background-size:150%;
	margin:0;
	min-height:100vh;
	position:relative;
	z-index:0;
}
header, footer{
	background-color: #040e1f;
	color:#ffffff;
	width:100%;
	padding: 1% 4%;
	box-sizing: border-box;
	position:relative;
	z-index:0;
}
header{
	text-align:center;
}
header > button {
	display: inline-block;
	position: absolute;
	top: 35%;
	left: 3%;
	background-color: #040e1f;
	border:none;
	color:#ffffff;
}
.nav-menu-icon{
	font-size:3vw;
}
.collapsable-sub-heading{
	text-align:left;
	padding: 1% 2%;
	line-height: 0.5;
	position:relative;
	margin:1% 0;
}
.fa-caret-down, .fa-caret-left{
	position:absolute;
	right:2%;
	top:20%;
	font-size: 3vw;
}
section p{
	box-sizing: border-box;
	padding:3% 2%;
	margin:0;
	color:#ffffff;
	line-height: 2;
	font-size: 0.9vw;
}
footer p{
	display:inline-block;
	font-size:0.9vw;
	width:49%;
}
footer p:nth-child(even){
	text-align: right;
}
footer a{
	color:#ffffff;
}
h1{
	font-size:2vw;
}
h2{
	font-size: 1.5vw;
	display:inline-block;
}
.artist-name{
	padding-bottom:10px;
	font-size:0.9vw;
}
nav + section ul{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;	
	list-style-type: none;
	padding:4% 2% 0 2%;
	margin:1% 1%;
	margin-top:-3%;
}
nav + section li{
	box-sizing: border-box;
	width:92%;
	margin: 0 4%;
	margin-bottom:3%;
	padding:1% 0;
	-webkit-column-break-inside:avoid;
	page-break-inside:avoid;
	break-inside: avoid;
	background-color:rgba(5, 24, 51, 0.8);
}

nav +section li:nth-child(4n-3), nav + section li:nth-child(4n){
	background-color: rgba(38, 90, 171, 0.8);
}
nav + section li:last-child{
	margin-bottom:0;
}
nav + section li:hover{
	background-color:rgba(1, 10, 23, 1);
}
figcaption{
	text-align: center;
	font-weight: bold;
	font-size:1vw;
	line-height:200%;
	color:#ffffff;
}
img{
	display:block;
	max-height:700px;
	margin:auto;
}
.landscape{
	width:100%;
}
.portrait{
	width:70%;
}
@media only screen and (min-width:650px) {
	nav + section li {
		width: 48%;
		margin: 0 1%;
		margin-bottom:3%;
	}
}